

body{
  display: flex;
  justify-content: center;
  background: rgb(238,174,202);
  background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
*{
  margin: 0;
  box-sizing: border-box;
}
.app{
  min-height: 100vh;
}
.login{
  width: 300px;
  margin: auto;
}

.header{
  text-align: center;
}
.addtodo{
  display: flex;
  justify-content: center;
}